* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  width: 35vw;
  height: 70vh;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 5px 5px #000000;
  padding: 20px;
}

.text-container, .image-container, .form {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Align items to the center vertically */
  width: 100%;
}

.text {
  color: #ffffff;
  font-size: 4vw; /* Adjusted for better scaling */
  text-align: center; /* Ensure text is centered */
}

.image {
  width: 40%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Ensure there's some space above the button */
}

.button.success {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: 2px solid #4CAF50; /* Green border to match */
}

.button:hover {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: 2px solid #4CAF50; /* Green border to match */
}

.text-prompt{
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Ensure there's some space above the button */
}

@media only screen and (max-width: 900px) {
  .container {
    width: 80vw; /* Adjust width for smaller screens */
    height: auto; /* Allow container height to adjust based on content */
  }

  .text {
    font-size: 5vw; /* Increase size slightly for better legibility on small screens */
  }
}


@media only screen and (max-width: 1080px) {
  .container {
    width: 80vw; /* Adjust width for smaller screens */
    height: auto; /* Allow container height to adjust based on content */
  }

  .text {
    font-size: 5vw; /* Increase size slightly for better legibility on small screens */
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80vw; /* Adjust width for smaller screens */
    height: auto; /* Allow container height to adjust based on content */
  }

  .text {
    font-size: 5vw; /* Increase size slightly for better legibility on small screens */
  }
}
