<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <div class="container">
        <div class="text-container">
            <p class="text">
                GradeWise
            </p>
        </div>
        <div class="image-container">
            <img class="image" src="{{ url_for('static', filename='upload.svg') }}" alt="Cover Image">
        </div>
        <form class="form" id="uploadForm" enctype="multipart/form-data">
            <div class="button-container">
                <input type="file" name="pdfFile" class="file-input button">
                <input type="text" class="text-prompt" placeholder="Specify a topic">
                <input type="submit" value="Upload Documents" class="button">
            </div>
        </form>
        <br><br>
    </div>
    <!--Display File information-->
    <div class="display-area"></div>
    <div id="download-btn" class="button">Download</div>
    <script src="upload.js"></script>
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>
